html{font-family: roboto;}
form{
    position: relative;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 5%;
    padding: 50px;
    background-color:;
}

form h3{
    text-align: center;
    font-size: 30px;
    font-variant: inherit;
}

form label{
    margin-left: 40px;
}

form p{
    margin-left: 40px;
}

form input:nth-child(7){
     margin-left:0px;
    width:0px;
}
form input{
    margin-left: 40px;
    width: 200px;
}


form textarea{
    margin-left: 40px;
}